<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <h1></h1>
  <a href="https://www.facebook.com/samuel.manalu1"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
  <a href="https://www.instagram.com/samuelmanalu1/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
  <a href="https://twitter.com/samueeellll14"><i class="fa fa-twitter w3-hover-opacity"></i></a>
  <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>

</footer>