.cover {
  display: block;
  width: 100%;
  height: auto;
}
.picture{
	display: block;
	width: 75%;
	padding-bottom: 30px;
}

.feed{
	padding-top: 30px;
}

.section{
	padding-top: 50px;
}

.button{
	padding-top: 100px;
}