{% extends "layout/base.html" %}
{% block content %}

<section>
<div class="container">
<div id="lab8" class='container'>
  <button class="loginBtn loginBtn--facebook center" onclick="facebookLogin()">Login with Facebook</button>
</div>
</div>
</section>

{% endblock %}