	<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'lab-7:index' %}">Lab 7 by Samuel</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'lab-7:index' %}">Home</a></li>
        <li><a href="{% url 'lab-7:friend-list' %}">Friend List</a></li>
      </ul>
    </div>
  </div>
</nav>
